{% extends "layout.html" %}
{% block head %}
    <title>Index of /{{root}}</title>
{% endblock %}
{% block style %}
    a.files-sidenav-active {
        background-color: #ff0800 !important;
    }

    th, td {
        padding: 5px;
        font-size: 20px;
    }

    #title {
        margin-top: 0px;
    }
{% endblock %}
{% block content %}
    <h1 id="title">Index of /{{root}}</h1>
    <table>
        <tr>
            <th></th>
            <th>Name
                {% if "s" in request.args and request.args["s"] == "A" %}
                    <a href="?s=a"><i class="fas fa-sort-up"></i></a>
                {% elif "s" in request.args and request.args["s"] == "a" %}
                    <a href="?s=A"><i class="fas fa-sort-down"></i></a>
                {% else %}
                    <a href="?s=A"><i class="fas fa-sort"></i></a>
                {% endif %}
            </th>
            <th>Size
                {% if "s" in request.args and request.args["s"] == "S" %}
                    <a href="?s=s"><i class="fas fa-sort-up"></i></a>
                {% elif "s" in request.args and request.args["s"] == "s" %}
                    <a href="?s=S"><i class="fas fa-sort-down"></i></a>
                {% else %}
                    <a href="?s=S"><i class="fas fa-sort"></i></a>
                {% endif %}
            </th>
            <th>Last Modified
                {% if "s" in request.args and request.args["s"] == "M" %}
                    <a href="?s=m"><i class="fas fa-sort-up"></i></a>
                {% elif "s" in request.args and request.args["s"] == "m" %}
                    <a href="?s=M"><i class="fas fa-sort-down"></i></a>
                {% else %}
                    <a href="?s=M"><i class="fas fa-sort"></i></a>
                {% endif %}
            </th>
            <th>Owner
                {% if "s" in request.args and request.args["s"] == "O" %}
                    <a href="?s=o"><i class="fas fa-sort-up"></i></a>
                {% elif "s" in request.args and request.args["s"] == "o" %}
                    <a href="?s=O"><i class="fas fa-sort-down"></i></a>
                {% else %}
                    <a href="?s=O"><i class="fas fa-sort"></i></a>
                {% endif %}
            </th>
        </tr>
        {% if root != "" %}
            <tr>
                <td><i class="fas fa-reply"></i></td>
                <td><a href="..">Parent Directory</a></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        {% endif %}
        {% for file in files %}
            <tr>
                {% if file["name"].endswith("/") %}
                    <td><i class="fas fa-folder-open"></i></td>
                    <td><a href="{{file['name'].split('/')[-2] + '/'}}">{{file['name'].split('/')[-2] + '/'}}</a></td>
                    <td>-</td>
                    <td>{{file["modified"]}}</td>
                    <td>{{file["owner"]}}</td>
                {% else %}
                    <td>
                    {% if file["name"].endswith(".mp4") or file["name"].endswith(".mkv") %}
                        <i class="far fa-file-video"></i>
                    {% elif file["name"].endswith(".png") or file["name"].endswith(".jpg") or file["name"].endswith(".jpeg") or file["name"].endswith(".svg") or file["name"].endswith(".gif") %}
                        <i class="far fa-file-image"></i>
                    {% elif file["name"].endswith(".pdf") %}
                        <i class="far fa-file-pdf"></i>
                    {% elif file["name"].endswith(".mp3") or file["name"].endswith(".ogg") %}
                        <i class="far fa-file-audio"></i>
                    {% elif file["name"].endswith(".zip") or file["name"].endswith(".tar") or file["name"].endswith(".tar.gz") or file["name"].endswith(".tar.xz") or file["name"].endswith(".tar.bz") %}
                        <i class="far fa-file-archive"></i>
                    {% elif file["name"].endswith(".txt") or file["name"].endswith(".srt") or file["name"].endswith(".vtt") %}
                        <i class="far fa-file-text"></i>
                    {% elif file["name"].endswith(".doc") or file["name"].endswith(".docx") %}
                        <i class="far fa-file-word"></i>
                    {% elif file["name"].endswith(".xls") or file["name"].endswith(".xlsx") %}
                        <i class="far fa-file-excel"></i>
                    {% elif file["name"].endswith(".ppt") or file["name"].endswith(".pptx") %}
                        <i class="far fa-file-powerpoint"></i>
                    {% elif file["name"].endswith(".md") or file["name"].endswith(".html") or file["name"].endswith(".css") or file["name"].endswith(".js") or file["name"].endswith(".json") or file["name"].endswith(".py") or file["name"].endswith(".rb") or file["name"].endswith(".java") or file["name"].endswith(".c") %}
                        <i class="far fa-file-code"></i>
                    {% else %}
                        <i class="far fa-file"></i>
                    {% endif %}
                    </td>
                    <td><a href="{{file['name'].split('/')[-1]}}">{{file["name"].split("/")[-1]}}</a></td>
                    <td>{{file["size"]}}</td>
                    <td>{{file["modified"]}}</td>
                    <td>{{file["owner"]}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}