{% extends "layout.html" %}
{% block head %}
    <title>Projects</title>
{% endblock %}
{% block style %}
    a.projects-sidenav-active {
        background-color: #ff0800 !important;
    }

    #title {
        text-align: center;
    }

    #filter-form {
        width: 100%;
        display: flex;
    }

    #search {
        min-width: 25%;
        padding: 6px 10px;
        border: 2px solid #cdc7c2;
        border-radius: 5px;
        display: inline;
        flex-grow: 1;
    }

    #search:focus {
        border-color: #0366d6;
    }

    #select-filters {
        display: inline;
    }

    #select-filters > select {
        margin-left: 10px;
        border: 2px solid #cdc7c2;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        /*appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;*/
    }

    #submit {
        display: inline;
        margin-left: 10px;
        border: 2px solid #cdc7c2;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        color: black;
        text-align: center;
    }

    #submit:hover {
        background-color: #cdc7c2;
    }

    #projects {
        font-family: Nimbus Sans;
    }

    hr.project-divider {
        height: 1px;
        border-width: 0;
        background-color: #d1d5da;
        margin: 16px 0;
    }

    h2.project-name {
        display: inline;
    }

    h2.project-name > a {
        color: #0366d6;
        text-decoration: none;
    }

    h2.project-name > a:hover {
        text-decoration: underline;
    }

    span.project-tag {
        font-size: 12px;
        vertical-align: top;
        padding: 5px 4px 2px 4px;
        border: 1px solid lightgray;
        border-radius: 50px;
        color: #586069;
    }

    button.project-star {
        float: right;
        border: 0;
        padding: 0;
        font-size: 20px;
        margin-top: 2px;
        color: #ffd700;
        background-color: transparent;
    }

    p.project-description {
        color: #586069;
        font-size: 14px;
        margin: 8px 0 20px;
    }

    div.project-data {
        margin-top: 5px;
        color: #586069;
        font-size: 12px;
    }

    div.project-data > span {
        margin-right: 16px;
    }

    span.project-language-color {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 0;
    }
{% endblock %}
{% block content %}
    <h1 id="title">Projects</h1>
    <form id="filter-form">
        <input id="search" type="search" placeholder="Find a project..." name="search">
        <div id="select-filters">
            <select name="organization_type">
                <option disabled selected value="all">Type</option>
                <option value="all">All</option>
                {% for organization_type in organization_types %}
                    <option value="{{ organization_type['value'] }}">{{ organization_type['label'] }}</option>
                {% endfor %}
            </select>
            <select name="organization">
                <option disabled selected value="all">Organization</option>
                <option value="all">All</option>
                {% for organization in organizations %}
                    <option value="{{ organization['value'] }}">{{ organization['label'] }}</option>
                {% endfor %}
            </select>
            <select name="language">
                <option disabled selected value="all">Languages</option>
                <option value="all">All</option>
                {% for language in languages %}
                    <option value="{{ language['value'] }}">{{ language['label'] }}</option>
                {% endfor %}
            </select>
        </div>
        <button id="submit" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
    <hr class="project-divider">
    <div id="projects">
        {% for project in projects %}
            <div>
                <div>
                    <h2 class="project-name" id="{{ project['name'] }}">
                        <a href="{{ project['name'] }}">{{ project['name'] }}</a>
                    </h2>
                    {% if project['archived'] %}
                        <span class="project-tag">Archived</span>
                    {% endif %}
                    <button class="project-star" onclick="toggleStar(this.children[0]);">
                        <i class="fa fa-star{{ project['starred'] }}" data-name="{{ project['name'] }}"></i>
                    </button>
                </div>
                <p class="project-description">{{ project['description'] }}</p>
                <div class="project-data">
                    <span class="project-language-color" style="background-color: {{ project['language_color'] }};"></span>
                    <span>{{ project['language'] }}</span>
                    <i class="fa fa-sitemap"></i>
                    <span>{{ project['organization'] }}</span>
                    <span style="float: right; margin-right: 0;">Created on {{ project['created'] }}</span>
                </div>
            </div>
            <hr class="project-divider">
        {% endfor %}
    </div>
    <script>
        function toggleStar(star) {
            if(star.classList.contains('fa-star-o')) {
                // Star
                star.classList.replace('fa-star-o', 'fa-star');
                let xhr = new XMLHttpRequest();
                xhr.open("POST", '/projects/' + star.getAttribute('data-name') + '/', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send('starred=true');
            }
            else {
                // Unstar
                star.classList.replace('fa-star', 'fa-star-o');
                let xhr = new XMLHttpRequest();
                xhr.open("POST", '/projects/' + star.getAttribute('data-name') + '/', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send('starred=false');
            }
        }
    </script>
{% endblock %}