{% extends "layout.html" %}
{% block head %}
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
{% endblock %}
{% block style %}
    a.projects-sidenav-active {
        background-color: #ff0800 !important;
    }

    #title {
        text-align: center;
    }

    #project-title-bar > *{
        display: inline;
    }

    #project-title-bar > button {
        float: right;
        border: 1px solid rgba(27,31,35,.15);
        padding: 5px 10px;
        border-radius: 7px;
        margin: 4px 0 0 15px;
        font-size: 15px;
        background-color: white;
        cursor: pointer;
    }

    #project-title-bar > button:hover {
        background-color: rgba(27,31,35,.15);
    }
{% endblock %}
{% block content %}
    <div id="project-title-bar">
        <i class="fa fa-code" style="font-size: 32px;"></i>
        <h1 id="title" style="font-family: Montserrat;">{{title}}</h1>
        <button>
            <i class="fa fa-archive"></i>
            Archive
        </button>
        <button>
            <i class="fa fa-star"></i>
            Star
        </button>
    </div>
    <div>

    </div>
{% endblock %}