{% extends "layout.html" %}
{% block head %}
    <title>Projects</title>
{% endblock %}
{% block style %}
    a.projects-sidenav-active {
        background-color: #ff0800 !important;
    }

    #title {
        text-align: center;
    }

    #filter-form {
        width: 100%;
        display: flex;
    }

    #search {
        min-width: 25%;
        padding: 6px 10px;
        border: 2px solid #cdc7c2;
        border-radius: 5px;
        display: inline;
        flex-grow: 1;
    }

    #search:focus {
        border-color: #0366d6;
    }

    #select-filters {
        display: inline;
    }

    #select-filters > select {
        margin-left: 10px;
        border: 2px solid #cdc7c2;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        /*appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;*/
    }

    #submit {
        display: inline;
        margin-left: 10px;
        border: 2px solid #cdc7c2;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        color: black;
        text-align: center;
    }

    #submit:hover {
        background-color: #cdc7c2;
    }

    #projects {
        display: block;
    }
{% endblock %}
{% block content %}
    <h1 id="title">Projects</h1>
    <form id="filter-form">
        <input id="search" type="search" placeholder="Find a project..." name="search">
        <div id="select-filters">
            <select name="organization_type">
                <option disabled selected value="all">Type</option>
                <option value="all">All</option>
                {% for organization_type in organization_types %}
                    <option value="{{organization_type['value']}}">{{organization_type['label']}}</option>
                {% endfor %}
            </select>
            <select name="organization">
                <option disabled selected value="all">Organization</option>
                <option value="all">All</option>
                {% for organization in organizations %}
                    <option value="{{organization['value']}}">{{organization['label']}}</option>
                {% endfor %}
            </select>
            <select name="language">
                <option disabled selected value="all">Languages</option>
                <option value="all">All</option>
                {% for language in languages %}
                    <option value="{{language['value']}}">{{language['label']}}</option>
                {% endfor %}
            </select>
        </div>
        <button id="submit" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
    <div id="projects">
        {% for project in projects %}
            <p>{{project}}</p>
        {% endfor %}
    </div>
{% endblock %}