{% extends "layout.html" %}
{% block head %}
    <title>{{ name }}</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat|IBM+Plex+Mono|Space+Mono|Ubuntu|Titillium+Web' rel='stylesheet'>
{% endblock %}
{% block style %}
    a.projects-sidenav-active {
        background-color: #ff0800 !important;
    }

    #title {
        text-align: center;
        font-family: Montserrat;
    }

    #project-title-bar > * {
        display: inline;
    }

    button {
        transition: color 0.5s, background-color 0.5s;
    }

    button.edit-button {
        vertical-align: super;
        padding: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    #project-title-bar > button.right {
        float: right;
        border: 1px solid lightgray;
        padding: 5px 10px;
        border-radius: 7px;
        margin: 4px 0 0 10px;
        font-size: 15px;
        background-color: white;
        cursor: pointer;
    }

    #project-title-bar > button.right:hover {
        background-color: lightgray;
    }

    #project-title-bar > button.right.danger {
        color: #cb2431;
    }

    #project-title-bar > button.right.danger:hover {
        color: white;
        background-color: #cb2431;
    }

    hr {
        height: 1px;
        border-width: 0;
        background-color: #d1d5da;
        margin: 16px 0;
    }

    h4 {
        margin: 4px 0;
        text-align: center;
        font-family: Ubuntu;
    }

    #git-log {
        width: 35%;
        float: right;
    }

    #git-log > div {
        height: calc(100vh - 188px);
        overflow: scroll;
    }

    #git-log > div > p {
        font-family: IBM Plex Mono;
        white-space: nowrap;
    }

    i.far.fa-star, i.fas.fa-star {
        color: #ffd700;
    }

    #description {
        display: inline-block;
        width: 42%;
        float: left;
    }

    #description > form > textarea {
        resize: none;
        width: 100%;
        height: 200px;
        border: 0;
        font-size: 20px;
        margin-top: 20px;
        font-family: Titillium Web;
    }

    #submit-description {
        border: 1px solid lightgray;
        padding: 5px 10px;
        border-radius: 7px;
        font-size: 15px;
        color: #2ea44f;
        background-color: transparent;
        display: none;
        cursor: pointer;
    }

    #submit-description:hover {
        color: white;
        background-color: #2ea44f;
    }

    #middle-col {
        display: inline-block;
        width: 23%;
    }

    #branches, #languages {
        margin: 10px 0 30px;
    }

    #branches > li {
        list-style: none;
        font-family: Space Mono;
    }

    #branches > li:before {
        content: "\f126";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -27px;
        width: 17px;
    }

    #languages {
        margin-bottom: 0;
    }

    #languages > li {
        list-style: none;
        font-family: Space Mono;
    }

    span.project-language-color {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        vertical-align: baseline;
        margin-left: -32px;
        margin-right: 0 !important;
    }

    #languages > li > ul > li {
        margin-left: -32px;
    }
{% endblock %}
{% block content %}
    <div id="project-title-bar">
        <!--<i class="fa fa-code" style="font-size: 32px;"></i>-->
        <h1 id="title">{{ name }}</h1>
        <button class="edit-button" onclick="editName();"><i class="fas fa-pencil-alt"></i></button>
        <button class="right danger" onclick="deleteProject();">
            <i class="fas fa-trash-alt"></i>
            Delete
        </button>
        <button class="right danger" onclick="toggleArchive(this);">
            <i class="fas fa-archive"></i>
            {% if archived %}
                Unarchive
            {% else %}
                Archive
            {% endif %}
        </button>
        <button class="right" onclick="toggleStar(this);">
            {% if starred %}
                <i class="fas fa-star"></i>
                Unstar
            {% else %}
                <i class="far fa-star"></i>
                Star
            {% endif %}
        </button>
    </div>
    <hr>
    <div id="description">
        <span><i class="fas fa-sitemap"></i> {{ organization }}</span>
        <form method="POST">
            <textarea name="description" oninput="document.querySelector('#submit-description').style['display'] = 'block';">{{ description }}</textarea>
            <button id="submit-description" type="submit">Submit</button>
        </form>
    </div>
    <div id="middle-col">
        <h4>Branches</h4>
        <ul id="branches">
            {% for branch in branches %}
                {% if branch['default'] %}
                    <li style="color: red;">{{ branch['name']|safe }}</li>
                {% else %}
                    <li>{{ branch['name']|safe }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <h4>Languages</h4>
        <ul id="languages">
            {% for language in languages %}
                <li>
                    <span class="project-language-color" style="background-color: {{ language['color'] }}"></span>
                    {{ language['name'] }}
                    <ul>
                        <li>{{ language['percentage'] }}% — {{ language['size'] }}</li>
                        <li>{{ language['files'] }} files — {{ language['lines'] }} lines</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="git-log">
        <h4>Commit Log</h4>
        <hr style="margin-bottom: 0;">
        <div>
            <p>{{ git_log|safe }}</p>
        </div>
    </div>
    <script>
        function editName() {
            let currentProjectName = document.querySelector('#title').innerText;
            let projectName = prompt('Edit project name:', currentProjectName);
            if(projectName) {
                let xhr = new XMLHttpRequest();
                xhr.open('POST', window.location.pathname, false);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send('name=' + encodeURIComponent(projectName));
                window.location.pathname = window.location.pathname.replace(encodeURIComponent(currentProjectName), encodeURIComponent(projectName));
            }
        }

        function deleteProject() {
            let projectName = prompt('Enter the project name to confirm:');
            if(projectName === document.querySelector('#title').innerText) {
                let xhr = new XMLHttpRequest();
                xhr.open('POST', window.location.pathname, false);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send('delete=true');
                window.location.pathname = '/projects/';
            }
        }

        function toggleArchive(archiveButton) {
            let projectName = prompt('Enter the project name to confirm:');
            if(projectName === document.querySelector('#title').innerText) {
                if (archiveButton.innerText === ' Archive') {
                    // Archive
                    archiveButton.innerHTML = '<i class="fas fa-archive"></i> Unarchive';
                    let xhr = new XMLHttpRequest();
                    xhr.open('POST', window.location.pathname, false);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.send('archived=true');
                } else {
                    // Unarchive
                    archiveButton.innerHTML = '<i class="fas fa-archive"></i> Archive';
                    let xhr = new XMLHttpRequest();
                    xhr.open('POST', window.location.pathname, false);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.send('archived=false');
                }
            }
        }

        function toggleStar(starButton) {
            if(starButton.innerText === ' Star') {
                // Star
                starButton.innerHTML = '<i class="fas fa-star"></i> Unstar';
                let xhr = new XMLHttpRequest();
                xhr.open('POST', window.location.pathname, false);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send('starred=true');
            }
            else {
                // Unarchive
                starButton.innerHTML = '<i class="far fa-star"></i> Star';
                let xhr = new XMLHttpRequest();
                xhr.open('POST', window.location.pathname, false);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send('starred=false');
            }
        }
    </script>
{% endblock %}