{% extends "layout.html" %}
{% block head %}
    <title>{{title}}</title>
{% endblock %}
{% block style %}
    a.projects-sidenav-active {
        background-color: #ff0800 !important;
    }

    #title {
        text-align: center;
    }

    #project-title-bar > *{
        display: inline;
    }
{% endblock %}
{% block content %}
    <div id="project-title-bar">
        <i class="fa fa-code"></i>&emsp;
        <h1 id="title">{{title}}</h1>
        <button>
            <i class="fa fa-archive"></i>
            <span>Archive</span>
        </button>
        <button>
            <i class="fa fa-star"></i>
            <span>Star</span>
        </button>
    </div>
{% endblock %}