{% extends "layout.html" %}
{% block head %}
    <title>Calendar</title>
    <meta http-equiv="refresh" content="600" />
{% endblock %}
{% block style %}
    a.calendar-sidenav-active {
        background-color: #ff0800 !important;
    }

    .title {
        text-align: center;
    }

    .calendar-month-arrow {
        vertical-align: super;
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    table#month-calendar {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    table#month-calendar > thead > tr > th {
        border: 1px solid black;
        height: 40px;
        background-color: #dddddd;
        font-size: 20px;
    }

    table#month-calendar > tbody > tr > td {
        border: 1px solid black;
        height: 200px;
        vertical-align: top;
        padding: 10px;
    }

    span.calendar-date {
        font-family: Sans;
        font-size: 24px;
        width: 31px;
        height: 29px;
        padding: 1px 0;
        text-align: center;
    }

    span.calendar-date.calendar-date-filler {
        color: gray;
    }

    span.calendar-date#calendar-date-today {
        color: red;
        border: 2px solid red;
        border-radius: 50%;
        padding: 6px 5px;
        margin: -7px 0 0 -7px;
    }

    ul.calendar-item-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul.calendar-item-list > li.calendar-item {
        display: inline;
    }

    div.calendar-item-popup {
        display: inline;
        position: absolute;
        z-index: 0;
        //margin-top: calc(-300px - 30px);
        //margin-left: calc(-300px - 30px - 10px);
        margin-left: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px black;
        padding: 15px;
        overflow: hidden;

        visibility: hidden;
        width: 0;
        height: 0;
        opacity: 0;
        transition: opacity 0.5s, height 0.5s, visibility 0s ease 0.5s, width 0s ease 0.5s;
    }

    li.calendar-item:hover + div.calendar-item-popup, div.calendar-item-popup:hover {
        visibility: visible;
        opacity: 1;
        width: 300px;
        height: 250px;
        transition: opacity 0.5s, height 0.5s;
    }
{% endblock %}
{% block content %}
    <div style="text-align: center;">
        <a class="calendar-month-arrow" href="?month={{ previous_month['month'] }}&year={{ previous_month['year'] }}">❮</a>
        <h1 class="title" style="display: inline-block; width: 250px; margin: 0;">{{ current_month['month'].upper() }}</h1>
        <a class="calendar-month-arrow" href="?month={{ next_month['month'] }}&year={{ next_month['year'] }}">❯</a>
        <br>
        <h3 class="title" style="display: inline;">{{ current_month['year'] }}</h3>
    </div>
    <br>
    <table id="month-calendar">
        <thead>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0, calendar_dates|length, 7) %}
                <tr>
                    {% for j in range(7) %}
                        <td>
                            <div style="display: flex;">
                                <span class="calendar-date{% if calendar_dates[i + j]['filler_date'] %} calendar-date-filler{% endif %}"{% if calendar_dates[i + j]['today'] %} id="calendar-date-today"{% endif %} style="cursor: pointer;" onclick="createCalendarItem(this);" data-timestamp="{{ calendar_dates[i + j]['timestamp'] + 86340 }}">{{ calendar_dates[i + j]['date'] }}</span>
                                {% if calendar_dates[i + j]['holiday'] %}
                                    &emsp;<span style="font-weight: bold;">{{ calendar_dates[i + j]['holiday'] }}</span>
                                {% endif %}
                            </div>
                            <br>
                            <ul class="calendar-item-list">
                                {% for calendar_item in calendar_dates[i + j]['calendar_items'] %}
                                    <li class="calendar-item">
                                        <a href="{{ calendar_item['page'] }}" style="text-decoration: none; color: black;">
                                            {{ calendar_item['label'] }}
                                        </a>
                                    </li>
                                    <div class="calendar-item-popup">
                                        <h3 style="margin-top: 0; font-size: 20px;">{{ calendar_item['label'] }}</h3>
                                        <p>{{ calendar_item['description'] }}</p>
                                        {% if calendar_item['type'] == 'event' %}
                                            <i class="far fa-clock"></i> {{ calendar_item['start_time'] }} to {{ calendar_item['end_time'] }}<br>
                                            {% if calendar_item['location'] %}
                                                <i class="fas fa-map-marker-alt" style="width: 16px; text-align: center;"></i> {{ calendar_item['location'].capitalize() }}<br>
                                            {% endif %}
                                            <br>
                                            Priority: {{ calendar_item['priority'].capitalize() }}<br>
                                            Status: {{ (calendar_item['status'] * 100)|round|int }}%<br><br>
                                        {% else %}
                                            <i class="far fa-clock"></i> {{ calendar_item['deadline'] }}<br>
                                            {% if calendar_item['location'] %}
                                                <i class="fas fa-map-marker-alt" style="width: 16px; text-align: center;"></i> {{ calendar_item['location'].capitalize() }}<br>
                                            {% endif %}
                                            <br>
                                            Priority: {{ calendar_item['priority'].capitalize() }}<br>
                                            Status: {{ calendar_item['status'].capitalize() }}<br><br>
                                        {% endif %}
                                        {% if calendar_item['url'] %}
                                            <a href="{{ calendar_item['url'] }}">{{ calendar_item['url'] }}</a>
                                        {% endif %}
                                    </div>
                                    <br>
                                {% endfor %}
                            </ul>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function createCalendarItem(dateElement) {
            let timestamp = dateElement.getAttribute('data-timestamp');

            let calendarItemType = confirm('Create task?') ? 'task' : 'event';

            let name = prompt('Enter the ' + calendarItemType + ' name:');
            if(!name) {
                return;
            }

            let request = new XMLHttpRequest();
            request.open('POST', '/calendar/create/', false);
            request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            request.send('type=' + encodeURIComponent(calendarItemType) + '&name=' + encodeURIComponent(name) + '&timestamp=' + encodeURIComponent(timestamp));
            window.location.pathname = '/calendar/' + encodeURIComponent(name) + '_' + encodeURIComponent(timestamp) + '/';
        }
    </script>
{% endblock %}
